.navContainer {
  display: flex;
  justify-content: space-evenly;
}

.detailContainer {
  text-align: center;
}

.contentContainer {
  text-align: inherit;
  display: flex;
  margin-top: 2rem;
}
img {
  width: 200px;
  height: 200px;
}
